<header class="desktop-only">

  <header class="header" id="header">
    <div class="opacity">
    <div class="header__menu">


        <img class="header__menu__logo" src="./assets/images/logo.png" alt="logo" title="Logo">

    </div>

<div class="search-form">
  <div class="search-section">
    <label for="search-form-where">
      <span class="input-label"></span>
    </label>
    <div class="input-container">
      <input type="text" id="search-form-where" class="input" placeholder="MADRID" >
    </div>
  </div>
  <div class="search-section">
    <label for="search-form-what">
      <span class="input-label"></span>
    </label>
    <div class="input-container">
      <input type="text" id="search-form-what" class="inputWhere" placeholder="Tipo de cocina, nombre del restaurante..." >
</div></div>
  <button type="submit" class="search-button">
    <span>Búsqueda</span>
  </button>
</div>


</div>
</header>


</header>