<section class="desktop-only form1">
<form action="" class="form " method="post">
    <label id="nombreApellido" class="form__label">Nombre Completo <span class="form__span">*</span></label>
    <input type="text" name="nombreApellido" id="nombreApellido" required placeholder="Escribe tu Nombre Completo" class="form__input">

    <label id="Email" class="form__label labelEmail">Email <span class="form__span">*</span> </label>
    <input type="email" name="email" id="email" required placeholder="Escribe tu Email" class="form__input email">

    <label id="telefono" class="form__label labelTelf">Teléfono</label>
    <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" class="form__input telf">

    <label id="mensaje" class="form__label">Mensaje <span class="form__span">*</span></label>
    <textarea name="mensaje" id="mensaje" cols="30" rows="10" required placeholder="Escribe tu mensaje" class="form__label form__mensaje">Mensaje</textarea>

    <input type="submit" value="REGISTRARME" class="form__submit">

</form>
</section>