.header {
    height: 100vh;
    min-width: 320px;
    background-image: url('../images/reel-3.jpg');
    background-size: cover;

}


.opacity {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* Estilos generales */
.search-form {

  display: flex;
  justify-content: left;
  align-items: center;
  width: 800px;
  border-radius: 5px;
  margin-left: 10px;
  
  
}

.search-section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  
}

.input-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #f8ecec;
  border-radius: 5px;
  overflow: hidden;

}

.input {
  font-size: 18px;
  padding: 8px;
  flex-grow: 1;
  outline: none;
  height: 60px;
  width: 100px;
  border-radius: 5px;
}

.inputWhere{
     padding: 8px;
  flex-grow: 1;
  outline: none;
  height: 60px;
  width: 400px;
  border-radius: 5px;
  font-size: 20px;
}

.input-clear {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

/* Estilo específico para el botón de búsqueda */
.search-button {
  background-color: #0c4b8d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 60px;
}

.search-button:hover {
  background-color: #2980b9;
}

