@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';
@import 'layout/header';
@import 'layout/section1';
@import 'layout/section2';

/* CSS para dispositivos de escritorio */
.desktop-only {
  display: block; /* Muestra la secci贸n en dispositivos de escritorio */
}

/* CSS para dispositivos m贸viles */
@media (max-width: 768px) {
  .desktop-only {
    display: none; /* Oculta la secci贸n en dispositivos m贸viles */
  }
 
}

*{
  font-family: 'Roboto', sans-serif;
}

